html, body {
    --unit: 24px;
    --pixel: 2px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    position: absolute;
    top: calc(50% - var(--unit) * 4.5);
    left: calc(50% - var(--unit) * 10);
    background-color: #28E072;
}

#BackgroundCanvas {
    z-index: 0;
}

#MovementCanvas {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
}

#Heading {
    position: absolute;
    z-index: 2;
    top: calc(50% - var(--unit) * 3.5);
    left: calc(50% - var(--unit) * 7);
    width: calc(var(--unit) * 13);
    height: calc(var(--unit) * 6);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: calc(var(--unit) / 2);
    border-radius: var(--unit);
    font-size: calc(var(--pixel) * 2);
}