html, body {
    --unit: 24px;
    --pixel: 2px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    position: absolute;
    top: calc(50% - var(--unit) * 4.5);
    left: calc(50% - var(--unit) * 10);
    background-color: #28E072;
}

#BackgroundCanvas {
    z-index: 0;
}

#MovementCanvas {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
}

#Pause {
    position: absolute;
    z-index: 3;
    width: calc(var(--unit) / 2);
    height: calc(var(--unit) / 2);
    top: calc(50% - var(--unit) * 4);
    right: calc(50% - var(--unit) * 9.5);
    background-image: url(images/Gold.png);
    background-size: calc(var(--unit) / 2) calc(var(--unit) / 2);
}

#Pause:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#Heading {
    position: absolute;
    z-index: 2;
    top: calc(50% - var(--unit) * 3.5);
    left: calc(50% - var(--unit) * 7);
    width: calc(var(--unit) * 13);
    height: calc(var(--unit) * 6);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: calc(var(--unit) / 2);
    border-radius: var(--unit);
    font-size: calc(var(--pixel) * 2);
    display: none;
}

#LevelMenu {
    position: absolute;
    display: none;
    z-index: 3;
    width: calc(var(--unit) * 18);
    height: calc(var(--unit) * 7);
    top: calc(50% - var(--unit) * 3.5);
    left: calc(50% - var(--unit) * 9);
    border-radius: var(--unit);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
}

#Levels { /*table*/
    background-color: red;
}

tr {
    background-color: blue;
}

td {
    width: calc(var(--unit));
    height: calc(var(--unit));
    background-color: green;
    color: white;
}